<!DOCTYPE html>
<html>
  <head>
    <title>Create New User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <strong>Please fill the details:</strong> </br> </br>
    <form action="/create/add" method="post">
    	<strong>Employee ID:</strong><input type="text" name="empid" value="" style="LEFT: 200px; POSITION:  
        absolute"/> </br> </br>
      <strong>Name:</strong><input type="text" name="name" value="" style="LEFT: 200px; POSITION: absolute"/>
        </br> </br>
    	<strong>Mobile No.:</strong><input type="text" name="mobile" value="" style="LEFT: 200px; POSITION: 
        absolute"/> </br> </br>
    	<input type="submit" value="CREATE" />
    </form>
    
  </body>
</html>
